.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.movie-image {
  width: 100%;
  box-shadow: 0px 0px 10px white;
  border-radius: 20px;
}
.small-info {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  color: rgb(230, 46, 46);
}
.item p {
  margin: 0px 25px 0 5px;
}
.summary {
  margin: 15px 0;
}
.more-info {
  text-decoration: none;
  margin-left: 5px;
}
.book {
  background-color: aqua;
  border: none;
  padding: 5px 20px;
  font-weight: bold;
  transition: all 0.2s;
}
.book:hover {
  background-color: aquamarine;
}
